<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Lekta</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.credens.warehouseapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>warehouseapp</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Necesaria para escanear códigos de barra</string>
</dict>
</plist>
